h1 {
    text-align: center;

}

main {
    margin-left: 200px;
    width: fit-content;
    
    
}


footer {
    position: relative;
    bottom: 140em;
    border: 1px solid #ccc;
    width: 10%;
    font-family: sans-serif;
    background-color:#EEEEEE ;
}




section {
    border: 1px solid #ccc;
    margin: 2em;
    padding: 1em;
    box-shadow: 16px 17px 20px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 16px 17px 20px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 17px 20px -5px rgba(0,0,0,0.75);
}
a:visited {
    color:#36c;
}


main button {
    margin: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10%;
    color: white;
    background-color: #008DDA;
    font-size: 15px;
    padding-right: 18px;
}

span a {
    text-decoration: none;
}

nav img {
    width: 40px;
    float: left;
}

nav ul {
    text-decoration: none;
    list-style: none;
}

ul li a {
    text-decoration: none;
    line-height: 80px;
    color: black;
    font-size: 20px;
   
}

ul li a:visited{
    color: black;
}


nav #login,#signup {
    border-radius: 81px 81px 81px 81px;
-webkit-border-radius: 81px 81px 81px 81px;
-moz-border-radius: 81px 81px 81px 81px;
    border: 1px solid #ccc;
    padding: 8px;
    float: right;
    margin-left: 1em;
    margin-right: 1em;
}

#navbar{
    margin: auto;
    text-align: center;
    
}

#search { 
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    border-radius: 79px 79px 79px 79px;
-webkit-border-radius: 79px 79px 79px 79px;
-moz-border-radius: 79px 79px 79px 79px;
    border: 1px solid #ccc;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: 98% 8px;
    background-size: 20px;    
}



#Reddit-logo {
    float: left;
    margin-top: 10px;
    margin-left: 4px;
    font-weight:500;
    font-size: 20px;
    font-family: sans-serif;
}



#search:hover {
    border-color: blue;
}

.Menu {
    padding-left: 1em;
    font-size: 40px;
}

footer:hover {
    border: 2px solid black;
}

